grant
{
        permission java.net.SocketPermission "*:1024-65535","connect,accept";
        permission java.net.SocketPermission "*:80", "connect";
        permission java.io.FilePermission "/home/eci102/cs512/assn3/ikone2S/-", "read";
};
